<div class="divPedido">
    <button type="button" class="btn btn-info" id="botaopedido" (click)="adicionar(modal1)">
        FAZER PEDIDO
      </button>
      <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Obs</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Preço Total</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pedidos of lista; let i = index">
                        <th scope="row">{{pedidos.id}}</th>
                        <td>{{pedidos.observacao}}</td>
                        <td>{{pedidos.usuario.nomeUsuario}}</td>
                        <td>R$: {{pedidos.pedidopreco}}</td>
                        <td>{{pedidos.status}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="editar(modal1, pedidos, i)">Editar</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" (click)="deletar(pedidos.id)" >Deletar</button>
                          </td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
</div>

<ng-template #modal1 let-modal>
    <div class="modal-header">
        <h1>Faça um pedido!!</h1>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <app-pedidodetails [pedido]="objetoSelecionadoParaEdicao" (retorno)="addOuEditarPedido($event)"></app-pedidodetails>
    </div>
    <div class="modal-footer">
      <button type="button"class="btn btn-light" (click)="modal.close('Close click')">
        Fechar
      </button>
    </div>
  </ng-template>