<div class="HeaderClass">
    <img src="assets/Club_pizza-removebg-preview.png" alt="PgPizza" class="img">
    <input type="button" value="Pedidos"  class="btn btn-danger">
    <input routerLink="/admin/sabores" type="button" value="Sabores de Pizza" class="btn btn-light">
    <input  routerLink="/admin/estoqueProd" type="button" value="Produtos" class="btn btn-light">
    <input  routerLink="/admin/funcionarios" type="button" value="Funcionário" class="btn btn-light">
    <img    routerLink="/admin/usuarios" src="assets/aiaiaicara-removebg-preview.png" alt="Perfil" class="imgDois">

</div>