<div class="divLogin">
    <form action="">
        <h1>Login 🐧</h1>
        <p>Nome de Usuário:</p>
        <input type="text" name="Usuario" placeholder="Usuario" class="inputMod">
        <br>
        <p id="senhaInput">Senha:</p>
        <input type="password" name="Senha" placeholder="Senha" class="inputMod">
        <br>
        <br>
        <input routerLink="/admin/sabores" type="button" value="Logar" class="btn btn-primary" id="botao">
        <br>
        <br>
        <p class="cadastrar" routerLink="/cadLogin">Não tem uma conta? Cadastre-se!!</p>
    </form>
</div>
