.footerClass{
    background-color:#020c84;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 7rem;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 10vh;
    gap: 2%;
    
}
.img{
    width: 5rem;
}
.img:hover{
    width: 6rem;
    transition: 1s;
}